.foot
{
    font-size: 2vw;
    display:block;
    justify-content: space-evenly;
    /* border: solid;
    border-color: black;
    border-width: 1px; */
    margin: 0 5%;
    padding-top: 15px;

    
}

.contact
{
    /* border: solid;
    border-color: black;
    border-width: 1px; */
    justify-content: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-head
{
    /* border: solid;
    border-color: black;
    border-width: 1px; */
    text-align: center;
}

.contact-info
{
    /* border: solid;
    border-color: black;
    border-width: 1px; */
    justify-content: space-between;
    font-size: 1.2vw;
    padding-top: 10px;
    text-align: center;
}
.contact1
{
    /* border: solid;
    border-color: black;
    border-width: 1px; */padding-top: 10px;
}
.contact2
{
    /* border: solid;
    border-color: black;
    border-width: 1px; */padding-top: 10px;
}
.contact3
{
    /* border: solid;
    border-color: black;
    border-width: 1px; */padding-top: 10px;
}

.contact4
{
    /* border: solid;
    border-color: black;
    border-width: 1px; */
    font-size:1.2vw;
    padding-top: 10px;
}
.facebook
{
    /* border: solid;
    border-color: black;
    border-width: 1px; */
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}
.facebookpage
{
    text-align: center;
}

.googlemap
{
    /* border: solid;
    border-color: black;
    border-width: 1px; */
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
}
.googleheader
{
    text-align: center;
}
