body {
    margin: 0;
    padding: 0;
}

.home
{
    position: relative;
    background-color: antiquewhite;
}

.home_container
{
    padding: 0 15%;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    display:flex;
    border: solid;
    border-color: rgb(148, 25, 25);
    border-width: 1px;
}
.banner
{
    display:flex;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.ourservice
{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    border: solid;
    border-color: rgb(35, 182, 79);
    border-width: 1px;
}

.title
{
    font-size: 3vw;
    border-color: black;
    /* border: 2px;
    border: solid;
    border-color: black; */
    border-width: 1px;
}

.description
{
    font-size: 2vw;
    margin-top: 10px;
    /* border: solid;
    border-color: black;
    border-width: 1px; */
}
